<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
      <trace>
          <listeners>
              <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                  name="AzureDiagnostics">
                  <filter type="" />
              </add>
          </listeners>
      </trace>
  </system.diagnostics>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRedPill" />
        <!--<binding name="BasicHttpsBinding_IRedPill">
          <security mode="Transport" />
        </binding>-->
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="VB.RedPill.WcfRole.RedPill" behaviorConfiguration="MyServiceBehavior">
        <endpoint address="" binding="basicHttpBinding"
                  bindingConfiguration="BasicHttpBinding_IRedPill"
                  contract="VB.RedPill.Contracts.IRedPill"
                  name="BasicHttpBinding_IRedPill"/>
        <!--<endpoint address=""
          binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IRedPill"
          contract="VB.RedPill.WcfRole.IRedPill" name="BasicHttpsBinding_IRedPill" />-->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://vishalbhattredpill.cloudapp.net/RedPill.svc"/>
          </baseAddresses>
        </host>        
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceBehavior">
          <useRequestHeadersForMetadataAddress>
            <defaultPorts>
              <!-- Use your own port numbers -->
              <add scheme="http" port="81" />
              <add scheme="https" port="444" />
            </defaultPorts>
          </useRequestHeadersForMetadataAddress>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"
                               multipleSiteBindingsEnabled="false">
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
    -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
